body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee975;
}

/* Header styling */
header {
    background-color: #504dc8;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

/* Main section styling */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Login form styling */
form {
    background-color: #e6ca22;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #000003;
}

/* Login button styling */
button {
    background-color: #cedafd;
    color: black;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

/* Nav styling */
nav {
    background-color: #e6ca22;
    display: flex;
    justify-content: space-between;
}

#searchcontact {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 80%;
}

/* Table styling */
.contact-table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #000003;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #cedafd;
    color: black;
}

.header-left{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;
}

.header-right{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;
}

.nav-left{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-start;}
.nav-right{
    display: flex;
    padding: 10px 20px;
    justify-content: flex-end;}

.logout-button{
    background-color: #504dc8;
    color: white;
    border: none;
    padding: 0px 0px;
    font-size: 32px;
    border-radius: 0px;
    cursor: pointer;
}

.search-button{
    background-color: #e6ca22;
    color: white;
    border: none;
    padding: 0px 0px;
    font-size: 18px;
    border-radius: 0px;
    cursor: pointer;
}

.reset-button{
    background-color: #e6ca22;
    color: white;
    border: none;
    padding: 0px 0px;
    font-size: 18px;
    border-radius: 0px;
    cursor: pointer;
}

/* Edit and delete button styling */
.edit-button{
    background-color: #504dc8;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.delete-button {
    background-color: #4c0109;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
