body {
    font-family: monospace, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #636a87;
}

/* Header styling */
header {
    background-color: #878063;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

/* Main section styling */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

/* Login form styling */
form {
    background-color: #878063;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h2 {
    margin: 0 0 20px 0;
    text-align: center;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
    border: 1px solid #ccc;
}

/* Login button styling */
button {
    background-color: #87637c;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
}

/* Nav styling */
nav {
    background-color: #878063;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#searchcontact {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 20px;
    width: 40%;
}

/* Table styling */
.contact-table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #87637c;
    color: white;
}

/* Edit and delete button styling */
.edit-button, .delete-button {
    background-color: #878063;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
    cursor: pointer;
}
